%flexContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonPrimary {
  @extend %flexContent;
  width: 250px;
  height: 50px;
  border: 1px solid #191919;
  background: transparent;
  color: #191919;
  text-transform: uppercase;
}
