.main {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background: #fafafa;
  margin-top: 3px;

  .sectionContact {
    width: 100%;
    max-width: 1120px;
    margin: 40px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    grid-area: 16px;

    @media (max-width: 768px) {
      overflow: hidden;
    }

    & > h2 {
      font-size: 29px;
      text-transform: uppercase;
      letter-spacing: 0.02em;
      color: #239699;
      margin-bottom: 40px;
      text-align: center;
      font-weight: 300;

      @media (max-width: 768px) {
        font-size: 20px;
        margin-bottom: 24px;
      }
    }
    .contentBox {
      display: flex;
      gap: 32px;
      align-items: center;
      justify-content: center;

      @media (max-width: 768px) {
        overflow-x: scroll;
        max-width: 100%;
        justify-content: flex-start;
        white-space: nowrap;
        padding: 5%;

        &::-webkit-scrollbar {
          display: none;
        }
      }

      .box {
        width: 180px;
        height: 200px;
        background: #ffffff;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        padding: 16px;
        border: 1px solid #239699;
        border-radius: 10px;
        transition: .2s linear;

        &:hover {
          transform: translateY(-2%);   
        }

        svg {
          margin-bottom: 24px;
        }
        h3 {
          height: 40px;
          font-size: 16px;
          letter-spacing: 0.01em;
          margin-bottom: 16px;
          color: #333333;
          text-align: center;
        }
        p {
          text-align: center;
          font-size: 11px;
          letter-spacing: 0.1em;
          color: #7d7d7d;

          &.noLetter {
            letter-spacing: 0;
          }
        }
        .contentBall {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 8px;

          .ball {
            width: 30px;
            height: 30px;

            a {
              width: 100%;
              height: 100%;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              background: #239699;
              color: #ffffff;
              border: 1px solid transparent;
              transition: .2s;
              
              &:hover {
                background: #ffffff;
                color: #239699;
                border: 1px solid #239699;
              }

              svg {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}